name: Build and Deploy Authentication MicroService

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and Deploy Authentication Application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set-up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17

      - name: Unit Tests
        run: mvn -B test --file pom.xml

      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml

      - name: Build docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          dockerfile: Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/authentication-email-validation-microservice:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/authentication-email-validation-microservice:latest

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Create Application Version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name Authentication-Microservice \
            --version-label ${{ github.sha }} \
            --source-bundle S3Bucket=elasticbeanstalk,S3Key=${{ github.workspace }}/target/*.jar
    

      - name: Create Elastic Beanstalk Environment
        run: |
          aws elasticbeanstalk create-environment \
          --application-name Authentication-Microservice \
          --environment-name Authentication-Microservice-env \
          --solution-stack-name "64bit Amazon Linux 2 v3.5.7 running Java 17" \
          --version-label ${{ github.sha }}